# Connect server message
[server]
ip=127.0.0.1
port=9981

# Number of clients and threads
# when set block,thread_num will become invalid
[test]
client_num = 1
thread_num =10

[client_type]
# yes or no(just send once)
block = yes
# when block
# auto(send:{a}) - input(with terminal)
block_type = auto

# block auto send's sleep time
[sleep]
time = 2

